---
const { pageTitle } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
    <link rel="stylesheet" href="/style/style.css" />
	</head>

	<script>
  		const toggle = document.getElementById("theme-toggle");

  		const savedTheme = localStorage.getItem("theme");

 		 if (savedTheme === "dark") {
    		document.documentElement.classList.add("dark");
    		if (toggle) toggle.checked = true;
  		}

  		toggle?.addEventListener("change", () => {
    		const isDark = toggle.checked;

    		document.documentElement.classList.toggle("dark", isDark);

    		localStorage.setItem("theme", isDark ? "dark" : "light");
  		});
	</script>

	<body>
		<Header />
		<main>
            <slot />
		</main>
		<Footer /> 
	</body>
</html>
